/* For Tablets */
@media all and (max-width: 1000px) {
    .top-main h1 {
        font-size: 32px;
    }

    .point {
      width: 50%;
      margin-bottom: 50px;
    }    
}

/* For Smartphones */
@media all and (max-width: 670px) {
    footer {
      text-align: center;
    }

    .point {
      width: 100%;
    }
    
    .btn {
      width: 100%;
    }
        
    .top-main {
      text-align: left;
    }
    
    /* Add CSS for header-left */
    .header-left{
      display: none;
    }
    
    /* Add CSS for menu-icon */
    .menu-icon{
      display: block;
    }
    
    .top-main h1 {
      font-size: 16px;
      line-height: 36px;
    }
    
    .top-main p {
      font-size: 11px;
      line-height: 20px;
    }

    .bottom-main {
      border-bottom: 1px solid black;
      padding-bottom: 30px;
      text-align: center;
      background-color: #1a1a1a;
    }
  }